<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Login client</h4>
                    <p class="card-category">Veuillez vous identifier svp !</p>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Adresse mail *" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Mot de passe *" type="password">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <a href="#/client/restaurant" mat-raised-button type="submit" class="btn btn-danger pull-right">Se connecter</a>
                      <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
  </div>
</div>
