<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Créer des plats</h4>
                      <p class="card-category">---</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nom *" [(ngModel)] ="Nom" name="Nom" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Description *" [(ngModel)] ="Description" name="Description" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Categorie *" [(ngModel)] ="Categorie" name="Categorie" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Image *" [(ngModel)] ="Image" name="Image" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Prix *" [(ngModel)] ="Prix" name="Prix" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Restaurant *" [(ngModel)] ="Restaurant" name="Restaurant" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <br/>
                      <!-- <div class="row">
                        <div class="col-md-12">
                          <a href="#/client/login">
                            J'ai déja un compte
                          </a>
                        </div>
                      </div> -->
                      <button mat-raised-button type="submit" (click)="insert_plat()" class="btn btn-danger pull-right">Créer</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/images/logo.jfif" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">E-kaly</h6>
                      <h4 class="card-title">ADMINISTRATEUR</h4>
                      <p class="card-description">
                          ...
                      </p>
                      <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
