<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Inscription client</h4>
                    <p class="card-category">Veuillez vous inscrire svp !</p>
                </div>
                <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nom *" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Prénom" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Date de naissance" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Lot" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Adresse mail *" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Numéro téléphone *" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Mot de passe *" type="password">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6"></div>
                      </div><br/>
                      <div class="row">
                        <div class="col-md-12">
                          <a href="#/client/login">
                            J'ai déja un compte
                          </a>
                        </div>
                      </div>
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">S'inscrire</button>
                      <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
  </div>
</div>
